<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/logo.png">
    <title>DairyDex-products
    </title>
    <link rel="stylesheet" href="products.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fonticonpicker/2.0.0/jquery.fonticonpicker.min.js">
</head>
<body>
    <div class="outer-main">
    
    <%- include('header') %>

    <div class="main">
       
        
            
        <div class="main-content">
            
                <h2>Recently Viewed</h2>
                <div class="cards-container">
                    <div class="card">
                        <img  src="/public/bag3.png" class="card-img">
                        <p class="card-title">Go-Dhatri Prime</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>
                </div>


                <h2>Products to buy.</h2>
                <div class="cards-container">
                    <div class="card">
                        <img  src="/public/bag1.png" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>

                    <div class="card">
                        <img  src="/public/bottle.png" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>

                    <div class="card">
                        <img  src="/public/bag3.png" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>
                    
                    <div class="card">
                        <img  src="/public/bag1.png" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>


                    <div class="card">
                        <img  src="/public/bottle.png" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>

                    <div class="card">
                        <img  src="./assets/card2img.jpeg.jpg" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>


                </div>
                <h2>Upcoming Products</h2>
                <div class="cards-container">
                    <div class="card">
                        <img  src="./assets/card5img.jpeg.jpg" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>

                    <div class="card">
                        <img  src="./assets/card6img.jpeg.jpg" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>

                    <div class="card">
                        <img  src="./assets/card1img.jpeg.jpg" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">Your daily updates of the most played tracks.</p>
                    </div>
                </div>

                <div class="footer">
                    <div class="line"></div>
                </div>

        </div>
        </div>
      
       

      
        
</body>
</html>