


.carousel-inner{
  height: 600px;
  width: auto;
  margin-bottom: 100px;
}



.photo{
  height: fit-content;
  width: auto;
  align-self: center;
}


.content{
  height: 300px;
  width: auto;
  padding-left: 30px;
  margin-left: 10px;
}

.outer-div{
  display: flex;
  flex-direction: row;
  height: 800px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.photo {
  flex: 1 1 50%; 
  max-width: 50%; 
  padding: 20px;
}

.info {
  flex: 1 1 40%; 
  max-width: 40%; 
  padding: 10px;
}

.photo img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .photo, .info {
    flex: 1 100%;
    max-width: 100%;
  }
}

.vertical-line {
  border-left: 2px solid #b1d235; 
  height: 300px;
  margin: 0 20px; 
  box-shadow: black;
}

@media only screen and (max-width: 550px) {
  .vertical-line {
      display: none; /* vertical line on smaller screens */
  }
}


.parallax {
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
margin-bottom: 200px;
}

.parallax h1{
  text-align: center;
  color: white;
  font-weight:bold;
  padding-top: 60px;
}


.parallax p{
  color: white;
  padding-top: 60px;
  font-size:larger;
  width: 1200px;
  padding-left: 300px;
  text-align:center;
}
.parallax-1 {
  background-image: url('parallax3.jpg');
  height: 100vh; 
  background-position: center;
}





